<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>

  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="style.css">

  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/ngstorage/ngStorage.js"></script>

  <script src="/js/module.js"></script>
  <script src="/js/controllers.js"></script>
  <script src="/js/services.js"></script>

</head>
<body ng-app='myApp' ng-controller='mainCtrl'>


  <pre>{{person | json}}</pre>

  <div class="container">
    
    <h1 class="text-center">Banking App</h1>

    <form ng-submit='addTransaction()'>

      <div class="form-group">
        <label>Description:</label>
        <input type="text" class="form-control" placeholder="Description" ng-model='newTransaction.desc' required>
      </div>
      <div class="form-group">
        <label>Value:</label>
        <input type="number" class="form-control" placeholder="Value" ng-model='newTransaction.value' required min=0>
      </div>
      <label>
        <input type="radio" ng-model='newTransaction.type' ng-value="'credit'" ng-required='!newTransaction.type'>
        Credit
      </label>
      <label>
        <input type="radio" ng-model='newTransaction.type' value="debit" ng-required='!newTransaction.type'>
        Debit        
      </label>

      <button class="btn btn-default">Submit</button>
    </form>

    
    <h3>Balance: {{ balance | currency}}</h3>


    <table class="table" ng-show='storage.transactions.length'>
      <thead>
        <tr>
          <th>Desc</th>
          <th>Credits</th>
          <th>Debits</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='transaction in storage.transactions track by $index'>
          <td>{{transaction.desc}}</td>
          <td>
            <span ng-show='transaction.type === "credit"'>{{transaction.value | currency}}</span>
          </td>
          <td>
            <span ng-show='transaction.type === "debit"'>{{transaction.value | currency}}</span>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>TOTALS:</td>
          <td>{{totalCredit | currency}}</td>
          <td>{{totalDebit | currency}}</td>
        </tr>
      </tfoot>
    </table>
  </div>



</body>
</html>
